.card-selected {
  position: relative;
}

.card-selected::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Cor de fundo escura com opacidade de 50% */
  z-index: 1; /* Garante que a sombra esteja acima do conteúdo */
  background: linear-gradient(0deg, rgb(255, 255, 255, 0.6), transparent);
}

.check-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
